<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>List of Trains</h2>
<ul>
    {% for bus in buses %}
        <li>
            <strong>{{ bus.name }}</strong> - Bus Number: {{ bus.bus_number }},
            From: {{ bus.from_location }} To: {{ bus.to_location }},
            Journey Time: {{ bus.journey_time }},
            Ticket Price: {{ bus.ticket_price }}, Seats: {{ bus.no_of_seats }}
        </li>
    {% endfor %}
</ul>

</body>
</html>